.Card
    width: 13.25rem
    height: 8.25rem
    margin: 2rem auto
    padding: 1rem
    background-color: #F8F8F8
    border-radius: 1.875rem
    text-align: center
    font-family: 'roboto'
    p
        margin-top: 1rem
    a
        color: #00923F
        display: block
        margin-top: 2rem